@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* typeography */

@font-face {
  font-family: "Amulya";
  src: url(./assets/fonts/Amulya-Bold.ttf) format("opentype");
}
@font-face {
  font-family: "Sentient";
  src: url(./assets/fonts/Sentient-Regular.ttf) format("opentype");
}
@font-face {
  font-family: "Synonym";
  src: url(./assets/fonts/Synonym-Regular.ttf) format("opentype");
}

/* for dark & light */
@layer base {
  .light {
    --background: 0, 0%, 99%;
    --primary: 0, 0%, 9%; /* text-neutral-800 */
    --secondary: 0, 0%, 45.1%; /* text-neutral-500 */
    --accent: 56, 89%, 66%; /* #F5EA5B */
    --accent2: 258, 89%, 66%; /* #895BF5 */
    --customSh: 240, 3%, 93%;
    --shadowLayer: 0, 0%, 82%;
  }
  .dark {
    --background: 0, 0%, 1%;
    --primary: 220, 14.3%, 95.9%; /* text-gray-100 */
    --secondary: 218, 10.6%, 64.9%; /* text-gray-400 */
    --accent: 258, 89%, 66%; /* #895BF5 */
    --accent2: 56, 89%, 66%; /* #F5EA5B */
    --customSh: 225, 4%, 19%;
    --shadowLayer: 225, 3%, 23%;
  }
}

/* for responsiveness  */
html {
  font-size: 105%;
}

@media (min-width: 400px) {
  html {
    font-size: 125%;
  }
}

@layer components {
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .font-heading {
    font-family: "Amulya";
  }
  .font-paragraph {
    font-family: "Synonym";
  }
  .font-subHeading {
    font-family: "Sentient";
  }
}
