@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* for dark & light */
@layer base {
  .light {
    --background: 0, 0%, 99%;
    --heading: 0, 0%, 9%; /* text-neutral-800 */
    --paragraph: 0, 0%, 45.1%; /* text-neutral-500 */
    --accent: 56, 89%, 66%; /* #F5EA5B */
    --accent2: 258, 89%, 66%; /* #895BF5 */
    --borderSh: 240, 3%, 93%;
    --blurSh: 0, 0%, 82%;
  }
  .dark {
    --background: 0, 0%, 1%;
    --heading: 220, 14.3%, 95.9%; /* text-gray-100 */
    --paragraph: 218, 10.6%, 64.9%; /* text-gray-400 */
    --accent: 258, 89%, 66%; /* #895BF5 */
    --accent2: 56, 89%, 66%; /* #F5EA5B */
    --borderSh: 225, 4%, 19%;
    --blurSh: 225, 3%, 23%;
  }
}

/* for responsiveness  */
html {
  font-size: 105%;
}

@media (min-width: 400px) {
  html {
    font-size: 125%;
  }
}

@layer components {
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
